html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*normal*/
html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 100%;
  line-height: 1.25;
  color: #000;
  font-family: monospace;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;

  background-color: #d8bbcd;
}

.navbar {
  text-align: left;
  font-family: monospace;
  font-size: 32px;
  font-weight: 600;
  margin-left: 3%;
  margin-top: 1%;
}

.navbar a {
  color: #000;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar a:hover {
  color: #008161;
  text-decoration: none;
}

h2 {
  font-family: monospace;
  font-size: 26px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.item {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;

}


.copyright-name-date {
  text-align: left;
  font-family: monospace;
  margin-left: 3%;
  text-decoration: none;
  margin-top: 3%;
}

footer {
  margin-top: auto;
}

body {
  padding: 0;
  margin: 0;
  min-height: 300vh;
  background-color: rgb(255, 255, 255);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(240, 197, 239);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(240, 197, 239);
    width: 100%;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}