html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*normal*/
html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 100%;
  line-height: 1.25;
  color: #000;
  font-family: monospace;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;

  background-image: radial-gradient(
    circle at 1px 1px,
    #39ff14 2px,
    transparent 0
  );
  background-size: 40px 40px;
}

.Navbar {
  display: flex;
  text-align: left;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 42px;
  font-weight: 600;
  margin-top: 1%;
  margin-right: 3%;
}
.Navbar :hover {
  color: #d3b2e0;
}

.Navbar a {
  color: #d3b2e0;
  color: transparent;
  text-decoration: none;
  text-shadow: 0 0 5px #d3b2e0;
}

.Navbar__Items {
  display:flex;
  flex: 0 0 auto;
  margin-left: 3%;
  margin-right: 3%;
}

.Navbar__Link {
  margin-left: 3%;
}

.Navbar--left {
margin-left: 3%;
flex: 0 0 auto;
}

.Navbar--right {
  margin-left:auto;
  margin-right: 3%;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar--right {
    margin-left: 3%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.block {
  font-family: monospace;
  color: #000;
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 8%;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

.section {
  margin-top: 3%;
  margin-bottom: 3%;
}

.quote {
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  font-size: 29px;
}

a.link1 {
  color: #808080;
  text-decoration: none;
}
a:hover.link1 {
  color: #39ff14;
  text-decoration: none;
}

a.link2 {
  color: #808080;
  text-decoration: none;
}
a:hover.link2 {
  color: #ff99ff;
  text-decoration: none;
}

.copyright-name-date {
  text-align: left;
  font-family: monospace;
  margin-left: 3%;
  text-decoration: none;
  margin-top: 3%;
}

footer {
  margin-top: auto;
}
